.app {
    margin: 10px 15%;

    @include breakpoint(md) {
        margin: 0px 10px;
    }
}

.header {
    width: 100%;
    height: 60px;

    @include flexPosition(center, flex-start);

    @include breakpoint(md) {
        h1 {
            font-size: 2rem;
        }
    }
}

.body {
    width: 100%
}